#Refer to http://wiki.ubnt.com/UniFi_Lab for details
#Configuration file for UniFi v0.0.2
#  # in the beginning of a line is a comment line
#
CTLR_ADDR=192.168.1.100
CTLR_USERNAME=hello
CTLR_PASSWORD=world

#True or False (case sensitive) to enable/disable a feature
FEATURE_MAC_AUTH=False
FEATURE_POOR_SIGNAL_RECONN=False
FEATURE_SSID_SCH=False
FEATURE_PERIODIC_REBOOT=False

#No parameters for MAC auth feature
#add allowed MAC addresses into the unifi_lab_mac_auth.list, one MAC a line.

#---- For POOR_SIGNAL_RECONN (Minimum RSSI) Feature ----#
#POOR_SIGNAL_BASE=Signal (SignalStrength) or POOR_SIGNAL_BASE=RSSI  (RSSI = Signal - Noise Floor)
POOR_SIGNAL_BASE=RSSI
SIGNAL_THRESHOLD=40
SIGNAL_THRESHOLD_SECONDS=10

#---- For SSID_SCHEDULE Feature ----#
#AP name filter, only APs with this prefix will be controlled by ssid schedule
#AP_NAME_PREFIX=         <= set to this will affect all APs on the contrller
#AP_NAME_PREFIX=Office   <= set to this will affect all APs with the name starts "Office"
AP_NAME_PREFIX=
#a list of WLANs that will be controlled by the scheduler, separated by comma ','
WLAN_LIST=wlan1,wlan2,wlan3,wlan4
#24-hr time format
MONDAY_ON=09:00
MONDAY_OFF=19:00
TUESDAY_ON=09:00
TUESDAY_OFF=19:00
WEDNESDAY_ON=09:00
WEDNESDAY_OFF=19:00
THURSDAY_ON=09:00
THURSDAY_OFF=19:00
FRIDAY_ON=09:00
FRIDAY_OFF=16:00
SATURDAY_ON=09:00
SATURDAY_OFF=19:00
SUNDAY_ON=09:00
SUNDAY_OFF=19:00

#---- For PERIOD_REBOOT Feature ----#
#AP name filter, only APs name with this prefix will be controlled by periodic reboot.
#if an AP does not have name, then it will also be controlled
#REBOOT_AP_NAME_PREFIX=         <= set to this will affect all APs on the contrller
#REBOOT_AP_NAME_PREFIX=Office   <= set to this will affect all APs with the name starts "Office"
REBOOT_AP_NAME_PREFIX=
#REBOOT_DAYS=Mon,Tue,Wed,Thu,Fri,Sat,Sun		<= select which days (Case Sensitive) you want APs to be rebooted, separated by comma ','
REBOOT_DAYS=Mon,Wed,Fri
#REBOOT_TIME=01:00				<= what time to reboot the APs, in 24-hr time format
REBOOT_TIME=23:30
